.dress-wrapper {
  display: flex;
}

.left-section {
  width: 100px;
  margin-right: 50px;
}

.filter-block {
  display: flex;
  flex-direction: column;
}

.filter-list {

  margin: 0;
  padding: 0;

}

.filter-list li {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.filter-list input {
  margin-right: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.dress-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dress-form input,  .dress-form button {
  width: 200px;
  margin-bottom: 15px;
}

.dresses-wrap {
  display: flex;
  margin-top: 20px;
}

.dresses-wrap p {
  color: green;
  font-weight: bold;
  margin-right: 15px;;
}

.dresses-wrap input {
  max-width: 100px;
}

.column {
  display: flex;
}

.column button {
  margin-right: 15px;
}

.dress-size {
  padding-right: 10px;
}